<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="../static/base.css">
</head>

  
<body>
    
        
    
    
    <img src="../static/img/NTIsymbolvit.png" style="display: block; margin-left: auto; margin-right: auto;"/>
    <div id="dagar"> </div>
    <!--<h2>  {{ date }} </h2>-->
    <h2 id="vecka"> {{ datum }} </h2>
    <h2 id="vecka"> Vecka: {{ week }} </h2>
    <h2 id="vecka"> {{ weather }}</h2>

    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>

    

    
    <div id="box1">
        <h1>Skolmaten</h1>
        <p id="RoundedCornerMain">{{ skolmaten }} </p>
    </div>

    <h1>Lektioner</h1>
    {% for x in Lektiontider %}
        <div class="lektion RoundedCornerMain">
            <h2>{{x[-1]}}</h2>
            <p>{{x[0]}}</p>
            <!--{% for klasses in x %}
                <p> {{klasses}}</p>
            {% endfor %} -->
        </div>
    {% endfor %}

    <!--<script id="dagar", type="text/javascript">
        var myDate = new Date();
        var myDay = myDate.getDay();
        
        // Array of days.
        var weekday = ['Söndag', 'Måndag', 'Tisdag',
            'Onsdag', 'Torsdag', 'Fredag', 'Lördag'
        ];
        let dagar = document.getElementById("dagar");
        dagar.innerHTML = weekday[myDay];
    </script>-->

    <h1> {{ SLbuss }} </h1>
    <div class="lektion RoundedCornerMain"> 
        {% for t in SLbuss %}
            <h2>{{t[-1]}}</h2>
            <p>{{t[0]}}</p>
        {% endfor %}
        </div>
    <!--   -->
    
    <script>
        setTimeout(() => {
            document.location.reload();
        }, 60000);
    </script>
</body>
</html>

